<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.css"
      />
    <link rel="stylesheet" href="/css/style.css" />
    <title>Sweet Dreams</title>
  </head>
  <body>
    {{{body}}}
    <div class="pop-up-container">
        <div class="alert-simple alert-success">
        <i class="start-icon far fa-check-circle"></i>
        <strong class="font__weight-semibold"></strong>
        You successfully logged in.
      </div>
      <div class="alert-simple alert-danger">
       <i class="start-icon far fa-times-circle"></i>
        <strong class="font__weight-semibold"></strong>
        Ups, something wrong. Try again.
      </div>
    </div>
  <div id="Wrap" class="shadow">
  <img class="FollowBox" src="/assets/img/vecteezy_cloud.png" alt="" />
  <img class="FollowBox" src="/assets/img/vecteezy_cloud.png" alt="" />
  <img class="FollowBox" src="/assets/img/vecteezy_cloud.png" alt="" />
  <img class="FollowBox" src="/assets/img/vecteezy_cloud.png" alt="" />
</div>
<script
  src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"
></script>
<script src="/js/index.js"></script>
<script src="/js/login.js"></script>
<script src="/js/logout.js"></script>
<script src="/js/recommendation.js"></script>
<script src="/js/mynotes.js"></script>
<script src="/js/likes.js"></script>
  </body>
</html>
