<video autoplay loop muted id="background-video">
  <source src="/assets/video/branchShadowVideo.mp4" type="video/mp4" />
</video>
<section class="login-nav-bar">
  <a href="/profile" class="login-nav-item-1"><i
      class="fa-solid fa-user fa-lg"
    ></i>
  </a>
  <div class="login-nav-item-2" id="logout"><i
      class="fa-solid fa-right-from-bracket fa-lg"
    ></i></div>
</section>
<span class="favoriteBooks"><i class="fa-solid fa-book fa-sm"></i>
  My boring books
  <i class="fa-solid fa-book fa-sm"></i></span>
 <div class="booklist">
{{#each allBooks as |book|}}
    <div class="song">
      <i class="fa-solid fa-heart fa-lg bookLikeIcon" data-id="{{book.id}}"></i>
    </a>
    <audio controls>
      <source src="{{book.source}}" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>{{book.name}}
  </div>
{{/each}}
</div>