<video autoplay loop muted id="background-video">
  <source src="/assets/video/branchShadowVideo.mp4" type="video/mp4" />
</video>
<section class="login-nav-bar">
  <a href="/profile" class="login-nav-item-1">My Profile </a>
  <div class="login-nav-item-2" id="logout">Logout</div>
</section>
<div class="musiclist">
  <div class="song">
    <audio controls>
      <source
        src="./assets/books/About_the_Brothers_Grimm.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>About the Brothers Grimm
  </div>
  <div class="song">
    <audio controls>
      <source
        src="./assets/books/Ashputtel.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Ashputtel
  </div>
  <div class="song">
    <audio controls>
      <source
        src="/assets/audio/Aqua-Euphoria-with-Lucentia.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Aqua Euphoria
  </div>
  <div class="song">
    <audio controls>
      <source
        src="/assets/audio/birds-singing-calm-river-nature-ambient-sound.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Birds singing
  </div>
  <div class="song">
    <audio controls>
      <source
        src="/assets/audio/Evening-Improvisation-with-Ethera.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Evening
  </div>
  <div class="song">
    <audio controls>
      <source
        src="/assets/audio/in-stillness-tranquilium.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>In Stillness
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/Meydan-Away.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Away
  </div>
  <div class="song">
    <audio controls>
      <source
        src="/assets/audio/Meydan-Freezing-but-warm.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Freezing but warm
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/ocean-wave-ambient-boy.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Ocean Wave
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/Our-Path-On-Shore.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Path On Shore
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/sb_soulsearcher.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Soul Searcher
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/stones-future-forests.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Stones
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/Your-Spirit.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Your Spirit
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/sleeping-forest.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Sleeping Forest
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/Sea-Of-Thoughts.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Sea Of Thoughts
  </div>