{{#each books as |book|}}
<div class="book">
    <audio controls>
      <source
        src="{{book.source}}"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>{{book.name}}
    <a href="/favoriteBook" data-value="{{book.id}}">
    <i class="fa-solid fa-heart fa-lg" id="{{book.id}}"></i>
    </a>

  </div>
{{/each}}
