<video autoplay loop muted id="background-video">
  <source src="/assets/video/branchShadowVideo.mp4" type="video/mp4" />
</video>
<section class="login-nav-bar">
  <a href="/profile" class="login-nav-item-1">My Profile </a>
  <div class="login-nav-item-2" id="logout">Logout</div>
</section>
<div class="musiclist">
  <div class="song">
    <audio controls>
      <source
        src="./assets/books/About_the_Brothers_Grimm.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>About the Brothers Grimm
  </div>
  <div class="song">
    <audio controls>
      <source
        src="./assets/books/Ashputtel.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Ashputtel
  </div>
  <div class="song">
    <audio controls>
      <source
        src="./assets/books/Briar_Rose.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Briar Rose
  </div>
  <div class="song">
    <audio controls>
      <source
        src="./assets/books/Clever_Elsie.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Clever Elsie
  </div>
  <div class="song">
    <audio controls>
      <source
        src="./assets/books/Hansel_and_Gretel.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Hansel and Gretel
  </div>
  <div class="song">
    <audio controls>
      <source
        src="./assets/books/Jorinda_and_Jorindel.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Jorinda and Jorindel
  </div>
  <div class="song">
    <audio controls>
      <source src="./assets/books/King_Grisly-Beard.mp3"
      type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>King Grisly-Beard
  </div>
  <div class="song">
    <audio controls>
      <source
        src="./assets/books/Mother_Holle.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Mother Holle
  </div>
  <div class="song">
    <audio controls>
      <source src="./assets/books/Old_Sultan.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Old Sultan
  </div>
  <div class="song">
    <audio controls>
      <source src="./assets/books/Rumpelstiltskin.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Rumpelstiltskin
  </div>
  <div class="song">
    <audio controls>
      <source src="./assets/books/Snowdrop.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Snowdrop
  </div>
  <div class="song">
    <audio controls>
      <source src="./assets/books/The_Dog_and_the_Sparrow.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>The Dog and the Sparrow
  </div>
  <div class="song">
    <audio controls>
      <source src="./assets/books/The_Elves_and_the_Shoemaker.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>The Elves and the Shoemaker
  </div>
  <div class="song">
    <audio controls>
      <source src="./assets/books/The_Fisherman_and_his_Wife.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>The Fisherman and his Wife
  </div>
  <div class="song">
    <audio controls>
      <source src="./assets/books/The_Twelve_Dancing_Princesses.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>The Twelve Dancing Princesses
  </div>
</div>