<video autoplay muted loop id="background-video">
  <source src="/assets/video/sheetVideo.mp4" type="video/mp4" />
</video>
<div class="title">
  <h1>SWEET</h1>
  <a href="/login" class="scroll-down">
    <img src="/assets/img/down-arrow.png" alt="arrow down" /></a>
  <h1>DREAMS</h1>
</div>
