
  <video autoplay muted id="background-video">
      <source src="/assets/video/branchShadowVideo.mp4" type="video/mp4" />
  </video>
 
 <section class="login-nav-bar">
  <a href="/profile" class="login-nav-item-1"><i class="fa-solid fa-user fa-lg"></i> </a>
  <div class="login-nav-item-2" id="logout"><i class="fa-solid fa-right-from-bracket fa-lg"></i></div>
</section>
{{#each allVideos as |video|}}
      <div class="video-layout">
        <div class="video-row">
          <div class="video-item">
            <video
              src={{video.video_url}}
              controls
            ></video>         
           {{/each}}
          