 <video autoplay muted id="background-video">
      <source src="/assets/video/branchShadowVideo.mp4" type="video/mp4" />
    </video>
  <section class="login-nav-bar">
   <a href="/profile" class="login-nav-item-1">My Profile </a>
  <div class="login-nav-item-2" id="logout">Logout</div>
</section>
      <div class="video-layout">
        <div class="video-row">
          <div class="video-item">
            <video
              src="/assets/video/recommendation/10-MinuteGuidedMeditationSelf-Love.mp4"
              controls
            ></video>
          </div>
          <div class="video-item">
            <video
              src="/assets/video/recommendation/10-MinuteGuidedSleepMeditation.mp4"
              controls
            ></video>
          </div>
        </div>
        <div class="video-row">
          <div class="video-item">
            <video
              src="/assets/video/recommendation/10MinutesOfGuidedMeditationForMotivation.mp4"
              controls
            ></video>
          </div>
          <div class="video-item">
            <video
              src="/assets/video/recommendation/5MinutesOfGuidedMeditationForLettingGoOfAnger.mp4"
              controls
            ></video>
          </div>
        </div>
        <div class="video-row">
          <div class="video-item">
            <video
              src="/assets/video/recommendation/5MinutesOfGuidedMeditationForManagingPhysicalPain.mp4"
              controls
            ></video>
          </div>
          <div class="video-item">
            <video
              src="/assets/video/recommendation/9MinutesOfGuidedMeditationForOverthinkers.mp4"
              controls
            ></video>
          </div>
        </div>
        <div class="video-row">
          <div class="video-item">
            <video
              src="/assets/video/recommendation/10MinutesOfGuidedMeditationForMuscleTension.mp4"
              controls
            ></video>
          </div>
          <div class="video-item">
            <video
              src="/assets/video/recommendation/8MinutesofSelf-ForgivenessGuidedMeditation.mp4"
              controls
            ></video>
          </div>
        </div>
      </div>