<video autoplay loop muted id="background-video">
  <source src="/assets/video/branchShadowVideo.mp4" type="video/mp4" />
</video>
<section class="login-nav-bar">
  <a href="/profile" class="login-nav-item-1">My Profile </a>
  <div class="login-nav-item-2" id="logout">Logout</div>
</section>
<div class="button-container"> 
    <button id="newNoteBtn">New Note</button>
</div>
<div id="modal" class="modal">
    <div class="modal-content">
  <div class="modal-main">
  <h1 class="modal-title">This is a note of: <div class="roller">
    <span id="rolltext">YOUR<br/>
    DAILY<br/>
    THOUGHTS<br/>
    <span id="spare-time">I am here to save it for you</span><br/>
    </div>
    </h1>
    </div>
        <form id="noteForm">
        <label class="form-label" for="day">Day of the Week:</label>
        <input type="text" id="day" name="day" placeholder="e.g., Monday" class="day" required>
        <label class="form-label" for="date">Date:</label>
        <input type="date" id="date" name="date" class="date" required>
        <label class="form-label" for="content">My thoughts of the day</label>
        <textarea id="content" name="content" class="large-textarea" required></textarea>
        <button type="submit" class="createNoteBtn">Create</button>
        </form>
    </div>
</div>
<div class="notes-card-container" id="notes-card-container">
     <div class="notes-card">
       <div class="face face1">
         <div class="notes-card-content">
             <h3 class = "note-card-title">Monday</h3>
             <h3 class = "note-card-title">11/07/2023</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="mynote-content">
           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
          </div>
       </div>
    </div>
    
     <div class="notes-card">
       <div class="face face1">
         <div class="notes-card-content">
             <h3 class = "note-card-title">Monday</h3>
             <h3 class = "note-card-title">11/07/2023</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="mynote-content">
           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
          </div>
       </div>
    </div>
    
     <div class="notes-card">
       <div class="face face1">
         <div class="notes-card-content">
             <h3 class = "note-card-title">Monday</h3>
             <h3 class = "note-card-title">11/07/2023</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="mynote-content">
           <p> Multer is a Node.js middleware for handling multipart/form-data that makes the otherwise painstaking process of uploading files in Node.js much easier. In this article, we’ll learn the purpose of Multer in handling files in submitted forms. We’ll also explore Multer by building a mini app with a frontend and backend to test uploading a file. Let’s get started!orem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
          </div>
       </div>
    </div>

     <div class="notes-card">
       <div class="face face1">
         <div class="notes-card-content">
             <h3 class = "note-card-title">Monday</h3>
             <h3 class = "note-card-title">11/07/2023</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="mynote-content">
           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
          </div>
       </div>
    </div>

 <div class="notes-card">
       <div class="face face1">
         <div class="notes-card-content">
             <h3 class = "note-card-title">Monday</h3>
             <h3 class = "note-card-title">11/07/2023</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="mynote-content">
           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
          </div>
       </div>
    </div>

     <div class="notes-card">
       <div class="face face1">
         <div class="notes-card-content">
             <h3 class = "note-card-title">Monday</h3>
             <h3 class = "note-card-title">11/07/2023</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="mynote-content">
           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
          </div>
       </div>
    </div>

     <div class="notes-card">
       <div class="face face1">
         <div class="notes-card-content">
             <h3 class = "note-card-title">Monday</h3>
             <h3 class = "note-card-title">11/07/2023</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="mynote-content">
           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
          </div>
       </div>
    </div>

     <div class="notes-card">
       <div class="face face1">
         <div class="notes-card-content">
             <h3 class = "note-card-title">Monday</h3>
             <h3 class = "note-card-title">11/07/2023</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="mynote-content">
           <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde ab repudiandae, explicabo voluptate et hic cum ratione a. Officia delectus illum perferendis maiores quia molestias vitae fugiat aspernatur alias corporis?</p>
          </div>
       </div>
    </div>
  </div>