<video autoplay loop muted id="background-video">
  <source src="/assets/video/branchShadowVideo.mp4" type="video/mp4" />
</video>
<section class="login-nav-bar">
  <a href="/profile" class="login-nav-item-1">My Profile </a>
  <div class="login-nav-item-2" id="logout">Logout</div>
</section>
<div class="button-container"> 
    <button id="newNoteBtn">New Note</button>
</div>
<div id="modal" class="modal">
    <div class="modal-content">
  <div class="modal-main">
  <h1 class="modal-title">This is a note of: <div class="roller">
    <span id="rolltext">YOUR<br/>
    DAILY<br/>
    THOUGHTS<br/>
    <span id="spare-time">I am here to save it for you</span><br/>
    </div>
    </h1>
    </div>
        <form id="noteForm">
        <label class="form-label" for="day">Day of the Week:</label>
        <input type="text" id="day" name="day" placeholder="e.g., Monday" class="day" required>
        <label class="form-label" for="date">Date:</label>
        <input type="date" id="date" name="date" class="date" required>
        <label class="form-label" for="content">My thoughts of the day</label>
        <textarea id="content" name="content" class="large-textarea" required></textarea>
        <button type="submit" class="createNoteBtn">Create</button>
        </form>
    </div>
</div>

<div class="notes-card-container" id="notes-card-container">
{{#each notes as |note|}}
 <div class="notes-card">
       <div class="face face1">
         <div class="notes-card-content">
             <h3 class = "note-card-title">{{note.day}}</h3>
             <h3 class = "note-card-title">{{note.date}}</h3>
         </div>
       </div>
       <div class="face face2">
         <div class="mynote-content">
           <p>{{note.content}}</p>
          </div>
       </div>
    </div>
{{/each}}
  </div>