<video autoplay loop muted id="background-video">
  <source src="/assets/video/branchShadowVideo.mp4" type="video/mp4" />
</video>
<section class="login-nav-bar">
  <a href="/profile" class="login-nav-item-1"><i
      class="fa-solid fa-user fa-lg"
    ></i>
  </a>
  <div class="login-nav-item-2" id="logout"><i
      class="fa-solid fa-right-from-bracket fa-lg"
    ></i></div>
</section>
<div class="musiclist">
  {{#each likedSongs as |song|}}
    <div class="song">
      <i
        class="fa-solid fa-trash fa-lg deleteLikeSong"
        data-song-id={{song.Song.id}}
      ></i>
      <audio controls>
        <source src="{{song.Song.source}}" type="audio/mp3" />
      </audio>
      <i class="far fa-waveform"></i>{{song.Song.name}}
    </div>
  {{/each}}
</div>