<section class="login-nav-bar">
  <a href="/profile" class="login-nav-item-1"><i
      class="fa-solid fa-user fa-lg"
    ></i>
  </a>
  <div class="login-nav-item-2" id="logout"><i
      class="fa-solid fa-right-from-bracket fa-lg"
    ></i></div>
</section>

<span class="favoriteVideos"><i class="fa-brands fa-youtube fa-sm"></i>
  My favorite video
  <i class="fa-brands fa-youtube fa-sm"></i></span>
{{#if user.videos}}
  <div class="video-layout">
    <div >
      {{#each user.videos}}
        <div class="song">
          <h4 class="video-title">{{title}}</h4>
          <iframe
            width="640"
            height="360"
            src={{video_url}}
            title="10-Minute Meditation For Sleep"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
            allowfullscreen
          ></iframe>

          <i class="fa-solid fa-trash fa-lg deleteLikeVideo" data-video-id={{id}}></i>
        </div>

      {{/each}}
    </div>
  </div>
{{else}}
{{/if}}