<video autoplay loop muted id="background-video">
  <source src="/assets/video/branchShadowVideo.mp4" type="video/mp4" />
</video>

<main class="main">
  <aside class="sidebar">
    <nav class="nav">
      <ul>
        <li class="active"><a href="/mynotes"><i class="fa-solid fa-note-sticky fa-2xl"></i></a></li>
        <li><a href="/mysongs"><i class="fa-solid fa-music fa-2xl"></i></a></li>
        <li><a href="/mybooks"><i class="fa-solid fa-book fa-2xl"></i></a></li>
        <li><a href="/myvideo"><i class="fa-solid fa-video fa-2xl"></i></a></li>
      </ul>
    </nav>
  </aside>
</main>
<section class="login-nav-bar">
  <a href="/profile" class="login-nav-item-1"><i class="fa-solid fa-user fa-lg"></i> </a>
  <div class="login-nav-item-2" id="logout"><i class="fa-solid fa-right-from-bracket fa-lg"></i></div>
</section>
<svg viewBox="-65 0 1320 200">
  <text x="50%" y="50%" dy=".35em" text-anchor="middle">
    Recommendation For You
  </text>
</svg>
<section class="recommendation">
  <div class="container">
    <div class="box" id="meditation">
      <div class="imgBx">
        <img src="/assets/img/meditation.webp" />
      </div>
      <div class="content">
        <div>
          <h2>Meditation Guide</h2>
          <p>
            As a relaxation technique, it can quiet the mind and body while
            enhancing inner peace.
          </p>
        </div>
      </div>
    </div>
    <div class="box" id="boringbook">
      <div class="imgBx">
        <img src="/assets/img/books.jpg" />
      </div>
      <div class="content">
        <div>
          <h2>Boring Books</h2>
          <p>
            Bedtime boring books - quiet sleep podcast. Promote restful sleep or
            more interesting dreams.
          </p>
        </div>
      </div>
    </div>
    <div class="box" id="yogamusic">
      <div class="imgBx">
        <img src="/assets/img/nature.jpg" />
      </div>
      <div class="content">
        <div>
          <h2>Yoga music</h2>
          <p>
            Music has the power to slow your heart rate and breathing, lower
            your blood pressure, and it may even trigger your muscles to relax.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>