<video autoplay loop muted id="background-video">
  <source src="/assets/video/branchShadowVideo.mp4" type="video/mp4" />
</video>
<section class="login-nav-bar">
  <a href="/profile" class="login-nav-item-1"><i class="fa-solid fa-user fa-lg"></i> </a>
  <div class="login-nav-item-2" id="logout"><i class="fa-solid fa-right-from-bracket fa-lg"></i></div>
</section>
<div class="musicContainer">
  <div class="nameboxm">
    <div class="yoga">Yoga</div>
    <div class="music">Music</div>
  </div>
  <div class="box-music">
    <div class="box-music-title">
      Music, like yoga, has the power to draw us into the present moment and
      deepen our ability to feel. When we start to feel, we start to heal—no
      longer drifting, numb, or disconnected. It connects us.
    </div>
  </div>
  <div class="bottomContainer">
    If you're here you not sleep yet, come in.
  </div>
</div>
<div class="musiclist">
  {{#each allSongs as |song|}}
  <div class="song">
    <audio controls>
      <source
        src="{{song.source}}"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>{{song.name}}
  </div>
  {{/each}}
<link
  href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css"
  rel="stylesheet"
/>