<video autoplay loop muted id="background-video">
  <source src="/assets/video/branchShadowVideo.mp4" type="video/mp4" />
</video>
<section class="login-nav-bar">
  <a href="/profile" class="login-nav-item-1"><i class="fa-solid fa-user fa-lg"></i> </a>
  <div class="login-nav-item-2" id="logout"><i class="fa-solid fa-right-from-bracket fa-lg"></i></div>
</section>
<div class="musicContainer">
  <div class="nameboxm">
    <div class="yoga">Yoga</div>
    <div class="music">Music</div>
  </div>
  <div class="box-music">
    <div class="box-music-title">
      Music, like yoga, has the power to draw us into the present moment and
      deepen our ability to feel. When we start to feel, we start to heal—no
      longer drifting, numb, or disconnected. It connects us.
    </div>
  </div>
  <div class="bottomContainer">
    If you're here you not sleep yet, come in.
  </div>
</div>
<div class="musiclist">
  <div class="song">
    <audio controls>
      <source
        src="/assets/audio/04-Meydan-Surreal-Forest.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Surreal Forest
  </div>
  <div class="song">
    <audio controls>
      <source
        src="/assets/audio/alex-productions-Ambient-music-nature.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Ambient music nature
  </div>
  <div class="song">
    <audio controls>
      <source
        src="/assets/audio/Aqua-Euphoria-with-Lucentia.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Aqua Euphoria
  </div>
  <div class="song">
    <audio controls>
      <source
        src="/assets/audio/birds-singing-calm-river-nature-ambient-sound.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Birds singing
  </div>
  <div class="song">
    <audio controls>
      <source
        src="/assets/audio/Evening-Improvisation-with-Ethera.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Evening
  </div>
  <div class="song">
    <audio controls>
      <source
        src="/assets/audio/in-stillness-tranquilium.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>In Stillness
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/Meydan-Away.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Away
  </div>
  <div class="song">
    <audio controls>
      <source
        src="/assets/audio/Meydan-Freezing-but-warm.mp3"
        type="audio/mp3"
      />
    </audio>
    <i class="far fa-waveform"></i>Freezing but warm
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/ocean-wave-ambient-boy.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Ocean Wave
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/Our-Path-On-Shore.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Path On Shore
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/sb_soulsearcher.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Soul Searcher
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/stones-future-forests.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Stones
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/Your-Spirit.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Your Spirit
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/sleeping-forest.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Sleeping Forest
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/Sea-Of-Thoughts.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Sea Of Thoughts
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/relaxing-meditation.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Relaxing meditation
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/Our-Path-On-Shore.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Our Path On Shore
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/relax-sounds.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Relax sounds
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/Our-Journey-Ends-Here.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Journey Ends Here
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/meditative-rain.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Meditative Rain
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/high-vibrations.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>High Vibrations
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/fly-with-me.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Fly With Me
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/Dhaka.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>Dhaka
  </div>
  <div class="song">
    <audio controls>
      <source src="/assets/audio/A-Day-By-The-Sea.mp3" type="audio/mp3" />
    </audio>
    <i class="far fa-waveform"></i>A Day By The Sea
  </div>
</div>
<link
  href="https://kit-pro.fontawesome.com/releases/v5.13.0/css/pro.min.css"
  rel="stylesheet"
/>